<a href="https://colab.research.google.com/github/ylmgrbzz/Salary-Analysis-in-the-Software-Industry/blob/main/Salary_Analysis_in_the_Software_Industry.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
maas=pd.read_csv("maas.csv")

In [3]:
maas

,Company Name,Job Title,Salaries Reported,Location,Salary
0,Mu Sigma,Data Scientist,105.0,Bangalore,"₹6,48,573/yr"
1,IBM,Data Scientist,95.0,Bangalore,"₹11,91,950/yr"
2,Tata Consultancy Services,Data Scientist,66.0,Bangalore,"₹8,36,874/yr"
3,Impact Analytics,Data Scientist,40.0,Bangalore,"₹6,69,578/yr"
4,Accenture,Data Scientist,32.0,Bangalore,"₹9,44,110/yr"
...,...,...,...,...,...
4339,TaiyōAI,Machine Learning Scientist,1.0,Mumbai,"₹5,180/mo"
4340,Decimal Point Analytics,Machine Learning Developer,1.0,Mumbai,"₹7,51,286/yr"
4341,MyWays,Machine Learning Developer,1.0,Mumbai,"₹4,10,952/yr"
4342,Market Pulse Technologies,Software Engineer - Machine Learning,1.0,Mumbai,"₹16,12,324/yr"
4343,vPhrase,Machine Learning Engineer,1.0,Mumbai,"₹9,39,843/yr"

In [4]:
maas.columns

Index(['Company Name', 'Job Title', 'Salaries Reported', 'Location', 'Salary'], dtype='object')

In [8]:
maas.columns=["firma","pozisyon","sayi","konum","maas"]
maas

,firma,pozisyon,sayi,konum,maas
0,Mu Sigma,Data Scientist,105.0,Bangalore,"₹6,48,573/yr"
1,IBM,Data Scientist,95.0,Bangalore,"₹11,91,950/yr"
2,Tata Consultancy Services,Data Scientist,66.0,Bangalore,"₹8,36,874/yr"
3,Impact Analytics,Data Scientist,40.0,Bangalore,"₹6,69,578/yr"
4,Accenture,Data Scientist,32.0,Bangalore,"₹9,44,110/yr"
...,...,...,...,...,...
4339,TaiyōAI,Machine Learning Scientist,1.0,Mumbai,"₹5,180/mo"
4340,Decimal Point Analytics,Machine Learning Developer,1.0,Mumbai,"₹7,51,286/yr"
4341,MyWays,Machine Learning Developer,1.0,Mumbai,"₹4,10,952/yr"
4342,Market Pulse Technologies,Software Engineer - Machine Learning,1.0,Mumbai,"₹16,12,324/yr"
4343,vPhrase,Machine Learning Engineer,1.0,Mumbai,"₹9,39,843/yr"

In [9]:
maas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4344 entries, 0 to 4343
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   firma     4341 non-null   object
 1   pozisyon  4344 non-null   object
 2   sayi      4342 non-null   float64
 3   konum     4344 non-null   object
 4   maas      4344 non-null   object
dtypes: float64(1), object(4)
memory usage: 169.8+ KB

In [10]:
maas["maas"]

0        ₹6,48,573/yr
1       ₹11,91,950/yr
2        ₹8,36,874/yr
3        ₹6,69,578/yr
4        ₹9,44,110/yr
            ...
4339        ₹5,180/mo
4340     ₹7,51,286/yr
4341     ₹4,10,952/yr
4342    ₹16,12,324/yr
4343     ₹9,39,843/yr
Name: maas, Length: 4344, dtype: object

In [11]:
import numpy as np 
maas["maas"]=maas["maas"].str.replace("₹","")

In [12]:
x=maas["maas"].str.split("/",expand=True)

In [13]:
x.head(3)

           0   1
0   6,48,573  yr
1  11,91,950  yr
2   8,36,874  yr

In [14]:
maas["maas"]=x[0]
maas["birim"]=x[1]

In [15]:
maas.head(3)

,firma,pozisyon,sayi,konum,maas,birim
0,Mu Sigma,Data Scientist,105.0,Bangalore,"6,48,573",yr
1,IBM,Data Scientist,95.0,Bangalore,"11,91,950",yr
2,Tata Consultancy Services,Data Scientist,66.0,Bangalore,"8,36,874",yr

In [16]:
maas["maas"]=maas["maas"].str.replace(",","")
maas

,firma,pozisyon,sayi,konum,maas,birim
0,Mu Sigma,Data Scientist,105.0,Bangalore,648573,yr
1,IBM,Data Scientist,95.0,Bangalore,1191950,yr
2,Tata Consultancy Services,Data Scientist,66.0,Bangalore,836874,yr
3,Impact Analytics,Data Scientist,40.0,Bangalore,669578,yr
4,Accenture,Data Scientist,32.0,Bangalore,944110,yr
...,...,...,...,...,...,...
4339,TaiyōAI,Machine Learning Scientist,1.0,Mumbai,5180,mo
4340,Decimal Point Analytics,Machine Learning Developer,1.0,Mumbai,751286,yr
4341,MyWays,Machine Learning Developer,1.0,Mumbai,410952,yr
4342,Market Pulse Technologies,Software Engineer - Machine Learning,1.0,Mumbai,1612324,yr
4343,vPhrase,Machine Learning Engineer,1.0,Mumbai,939843,yr

In [18]:
maas["maas"]=maas["maas"].str.replace("$","9")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

In [19]:
maas["maas"]=maas["maas"].str.replace("£","9")
maas["maas"]=maas["maas"].str.replace("AFN ","9")

In [20]:
maas["maas"]=maas["maas"].astype("float64")

In [23]:
maas["maas"]=maas["maas"]*0.19
maas

,firma,pozisyon,sayi,konum,maas,birim
0,Mu Sigma,Data Scientist,105.0,Bangalore,23413.4853,yr
1,IBM,Data Scientist,95.0,Bangalore,43029.3950,yr
2,Tata Consultancy Services,Data Scientist,66.0,Bangalore,30211.1514,yr
3,Impact Analytics,Data Scientist,40.0,Bangalore,24171.7658,yr
4,Accenture,Data Scientist,32.0,Bangalore,34082.3710,yr
...,...,...,...,...,...,...
4339,TaiyōAI,Machine Learning Scientist,1.0,Mumbai,186.9980,mo
4340,Decimal Point Analytics,Machine Learning Developer,1.0,Mumbai,27121.4246,yr
4341,MyWays,Machine Learning Developer,1.0,Mumbai,14835.3672,yr
4342,Market Pulse Technologies,Software Engineer - Machine Learning,1.0,Mumbai,58204.8964,yr
4343,vPhrase,Machine Learning Engineer,1.0,Mumbai,33928.3323,yr

In [24]:
a=maas["pozisyon"].unique()

In [27]:
a=list(a)
a

['Data Scientist',
 'Data Science Associate',
 'Data Science Consultant',
 'Data Science',
 'Senior Data Scientist',
 'Junior Data Scientist',
 'Lead Data Scientist',
 'Data Science Manager',
 'Data Scientist - Trainee',
 'Data Science Lead',
 'Data Analyst',
 'Data Engineer',
 'Machine Learning Engineer',
 'Machine Learning Software Engineer',
 'Software Engineer - Machine Learning',
 'Machine Learning Engineer/Data Scientist',
 'Machine Learning Consultant',
 'Machine Learning Data Associate',
 'Machine Learning Data Associate I',
 'Machine Learning Associate',
 'Machine Learning Data Associate II',
 'Associate Machine Learning Engineer',
 'Machine Learning Data Analyst',
 'Senior Machine Learning Engineer',
 'Machine Learning Scientist',
 'Machine Learning Developer']

In [31]:
b=maas["firma"].unique()
b

array(['Mu Sigma', 'IBM', 'Tata Consultancy Services', ...,
       'Myraa Technologies', 'TaiyōAI', 'Market Pulse Technologies'],
      dtype=object)

In [32]:
len(maas["firma"].unique())

2530

In [33]:
b=list(b)
b

['Mu Sigma',
 'IBM',
 'Tata Consultancy Services',
 'Impact Analytics',
 'Accenture',
 'Infosys',
 'Capgemini',
 'Cognizant Technology Solutions',
 'Anheuser-Busch InBev',
 'Fractal',
 'Embibe',
 'Amazon',
 'Google',
 'Flipkart',
 'HP Inc.',
 'Wipro',
 'Ericsson-Worldwide',
 'MiQ',
 'Deloitte',
 'Microsoft',
 'Genpact',
 'Fresher',
 'Société Générale',
 'Flutura',
 'Fuzzy Logix',
 'DXC Technology',
 'Jio',
 'Honeywell',
 'Affine',
 'Philips',
 'Bharat Light & Power',
 'Antuit',
 'Nielsen',
 '[24]7.ai',
 'Fidelity Investments',
 'Myntra',
 'First Student',
 'Oracle',
 'Ola',
 'Walmart Global Tech',
 'Tredence',
 'Intel Corporation',
 'Mercedes-Benz Research and Development India',
 'SAP',
 'Wipro Technologies',
 'Thoucentric',
 'Walmart',
 'Brillio',
 'Great Learning',
 'Gramener',
 'HCL Technologies',
 'Happiest Minds Technologies',
 'Hewlett Packard Enterprise | HPE',
 'Noodle.ai',
 'Cisco Systems',
 'INSOFE',
 'Optum',
 'Adobe',
 'ABB',
 'EY',
 'Swiggy',
 'Subex',
 'iNeuron',
 'ZS Associates',
 'Robert Bosch India',
 'Scienaptic Systems',
 'FlyNava Technologies',
 'Nokia',
 'UnitedHealth Group',
 'Sigmoid Analytics',
 'Idexcel',
 'Citi',
 'GE Healthcare',
 'SigTuple',
 'Dell Technologies',
 'Ericsson IT Solutions & Services',
 'Aptus Data Labs',
 'UniQreate',
 'LinkedIn',
 'Apexon',
 'Shadowfax Technologies',
 'Bharti Airtel',
 'Applied Materials',
 'FICO',
 'YouPlus',
 'Mphasis',
 'Target',
 'Gojek',
 'Blueocean Market Intelligence',
 'CRED',
 'Rolls-Royce',
 'Curl Analytics',
 'J.P. Morgan',
 'Knowledge Lens',
 'ascena',
 'QuantZig',
 'Baker Hughes',
 'Everlytics',
 'Siemens',
 'ANZ Bank',
 "Lowe's Home Improvement",
 'Nones',
 'Bristlecone',
 'Altimetrik',
 'Head Digital Works',
 'Artivatic Data Labs',
 'HDFC Standard Life Insurance',
 'AntWorks',
 'American Express',
 'ITC Infotech',
 'Aidetic',
 'NeenOpal',
 'Knowledge Foundry',
 'Mindtree',
 'TVS Motor Company',
 'XYZ',
 'ShieldSquare',
 'Tech Data',
 'Publicis Sapient',
 'Hinduja Global Solutions',
 'GE Digital',
 'GlobusSoft',
 'MakeMyTrip',
 'Artificial Learning Systems',
 'Dailyhunt',
 'Draup',
 'SwitchOn',
 'PwC',
 'Innodatatics',
 'Robert Bosch',
 'Two Roads Tech',
 'ExxonMobil',
 'Bidgely',
 'IQVIA',
 'ShareChat',
 'Course5 Intelligence',
 'MAERSK',
 'Caterpillar',
 'Bepec Solutions',
 'NetApp',
 'Exposys Data Labs',
 'Spoonshot',
 'InMobi',
 'Swiss Re',
 'TheMathCompany',
 'Shell',
 'Flip Robo',
 'HCL',
 'upGrad',
 'Legato Health Technologies',
 'Terra Economics and Analytics Lab',
 'HDFC Bank',
 'Halodoc',
 'Analytical Wizards',
 'PayPal',
 'GE',
 'Manthan',
 'Visa Inc.',
 'Tech Mahindra',
 'Data Semantics',
 'GE Aviation',
 'Landmark Group',
 'Neustar',
 'Axis Bank',
 'Comviva',
 'iQuanti',
 'Mercedes-Benz International',
 'Zoom Video Communications',
 'Money View',
 'nference',
 'KrazyBee',
 'Mavenir',
 'Molecular Connections',
 'Yodlee',
 'NovelSynth Soft Solutions',
 'Locus',
 'IVYTEL Technologies',
 'Sumyag',
 'Wabtec',
 'VMware',
 'Wipro Digital',
 'Zycus',
 'Tyson Foods',
 'OceanFrogs',
 'Lenovo',
 'Tata',
 'Simplilearn Solutions',
 'Dun & Bradstreet',
 'AlmaBetter',
 'CreditNirvana',
 'DONE by NONE',
 'Accentue',
 'SymphonyAI',
 'Datamatics Global Services',
 'Razorpay',
 'NTT Ltd.',
 'mfine',
 'Marlabs',
 'Optum Global Solutions',
 'Reckonsys',
 'Apisero',
 'Aruba Networks',
 'Intellicar',
 'ORMAE',
 'CROPIN TECHNOLOGY SOLUTIONS',
 'Belong',
 'Mobile Premier League',
 'Smiths Detection',
 'Shubh Loans',
 'TCS',
 'Aditya Birla Group',
 'Morgan Stanley',
 'DataVal Analytics',
 'Thomson Reuters',
 'Numerify',
 'Kabbage',
 'Loyalytics Consulting',
 'Monsanto Company',
 'FOKAL',
 'Sutherland',
 'Hypersonix (CA)',
 'Boeing',
 'Utopus Insights',
 'Apple',
 'GetupForChange Services',
 'MIQ Logistics',
 'Zendrive',
 'Paytm',
 'Unilever',
 'Conduent',
 '3K Technologies',
 'Netenrich Inc.',
 'Majorel',
 'Polynomial.Ai',
 'HARMAN',
 'Mbb Labs',
 'Analytics Vidhya',
 'KPMG',
 'Inference Labs',
 'Cartesian Consulting',
 'ZedEye Labs',
 'McAfee',
 'Zinnov Management Consulting',
 'Simpl',
 'Unisys',
 'Shaw Academy',
 'Rakuten',
 'Blue Yonder',
 'SalesKen',
 'Danske IT and Support Services',
 'Samsung Electronics',
 'Sonata Software',
 'Merck KGaA',
 'InViz AI Solutions',
 'Samsung R&D Institute India - Bangalore',
 'Quess',
 'QuEST Global',
 'Ong & Shan',
 'PayU',
 'Encora',
 'Walmart eCommerce',
 'Nivetti Systems',
 'Prescience',
 'Thoughtworks',
 'Prognos Health',
 'TECH I.S',
 'Virtusa',
 'Zeta Suite',
 'Halliburton',
 'Apar Technologies',
 'DataMites',
 'Cerner',
 'Juniper Networks',
 'L&T Technology Services',
 'Tiger Analytics',
 'Capital One',
 'Zeotap',
 'Bright Money',
 'Hakkasan Group',
 'SelfEmployed.com',
 'The Smart Cube',
 'Standard Chartered Global Business Services',
 'Ambee (India)',
 'Intuit',
 'Diageo',
 'Robosoft Technologies',
 'Perpule',
 'WyzMindz',
 'Tavant',
 'Nabler Web Solutions',
 'Mahindra',
 'noon',
 'Biocon',
 'Snipe Tech Pvt Ltd.',
 'dAlchemy',
 'Hewlett-Packard',
 'WayCool Foods & Products',
 'Ithink Technologies',
 'The Goddard School',
 'Volvo Group',
 'Freshers.com',
 'Exalca Technologies',
 'Shenzyn',
 'Happay',
 'Panasonic',
 'Spottabl',
 'NightLight Pediatric Urgent Care',
 'Ankit R Jain & Associates',
 'subodh singh',
 'Trinity Mobility',
 'CronLabs Solutions',
 'SOTI',
 'CoRover',
 'iOPEX Technologies',
 'Alfonso & Associates Consulting',
 'EdgeVerve Systems',
 'Cimpress',
 'Affle',
 'Qualcomm',
 'Monty Telecom Development',
 'Philips Lighting',
 'ABC',
 'Vervenest',
 'Avail Finance',
 'YDI Solutions',
 'AIEnterprise',
 'GE Power',
 'GLOBALFOUNDRIES',
 'Applied Data Finance',
 'Ramus Musik',
 'Trendwise Analytics',
 'Anonymous',
 'DocOn Technologies',
 'HackerEarth',
 'Quadrant 4 Systems',
 'MARS WEB Solution',
 'Verizon',
 'LivNSense',
 'Inflexion Analytics',
 'Arcadix',
 'Algebra Software Analytics',
 'Vedantu',
 'Automation Anywhere',
 'yellow.ai',
 'IBM Interactive Experience',
 'TEKsystems',
 'Acalvio',
 'Nucleus Software Exports',
 'Genesis Group Software Developers',
 'PokerStars',
 'The Self Employed Association',
 'AJIO',
 '---',
 'Bounce',
 'Goldman Sachs',
 'Algo8.ai',
 'Saisree Engineers',
 'Xenon Automotive',
 'ALTEN',
 'Diverse Lynx',
 'Hyperthink Systems',
 'TBM Technologies Pvt',
 'Red Hat',
 'Informatica',
 'Falabella',
 'Toastmasters International',
 'KYC Hub',
 'National Institute of Technology Karnataka',
 'Texas Instruments',
 'Blackstraw',
 'G2',
 'EdGe Networks',
 'Ultramatics',
 'MResult Services',
 'Vumonic Technologies',
 'Dexler Information Solutions',
 'SenSight Technologies',
 'Fractal Systems',
 'Grofers',
 'Utopia',
 'Simple Lecture',
 'Yes Bank',
 'TAG Solutions',
 'Tesla',
 'Bestintown Analytics',
 'Salim Group',
 'BRIDGEi2i',
 'Defence Research & Development Organisation',
 'dataZen Engineering',
 'UnitedHealthCare',
 'SelotSoft',
 'T-Mobile',
 'ICICI Bank',
 'Stayzilla',
 'BITS Pilani',
 'Hashworks',
 'Citicorp Services India',
 'Persistent Networks',
 'Atkins',
 'Techstar Consulting',
 'Nhai',
 'The Data Team',
 'Decision Minds',
 'SeedOlabs',
 'Symphony Teleca',
 'Artigiani',
 'PSG College of Technology',
 'Opia Labs',
 'Midcoast Regional Redevelopment Authority',
 'Customer Centria',
 'Raju Tech',
 'Adecco',
 'Rplus Analytics',
 'ExperienceFlow',
 'Kubric',
 'Praktice Ai',
 'BitLogic Software',
 'Yottaasys',
 'Nxtra Data',
 'Instamojo',
 'IQLECT',
 'The Teaching Company',
 'qwerty12',
 'Institute of Engineering & Management',
 'National Centre for Biological Sciences',
 'Vsoft',
 'Symbiosis Institute of Computer Studies and Research',
 'Alackrity Consols',
 'Neudesic',
 'Ravid & Associates',
 'SPS Commerce',
 'Mad Street Den Systems',
 'CENTURYLINK',
 'Educational Initiatives',
 'RS Software',
 'Hdfc',
 'HDFC Standard Life',
 'AgEye Technologies',
 'Ivanti',
 'Digital Trainee',
 'Datafoundry',
 'Enterprise Bot',
 'Navriti Technologies',
 'ABCDEF',
 'Artefact',
 'Toptal',
 'Altisource',
 'XYX (UK)',
 'Atlassian',
 'SunEdison',
 'Fellowship.AI',
 'Sonasoft',
 'Manthan Studio',
 'INEOS',
 'Trell',
 'Equifax',
 'Fresherworld.com',
 'Maybank',
 'Data Sutram',
 'Tableau Software',
 'ABC Consultants',
 'Abbott',
 'Innoviti',
 'QUILT.AI',
 'Firstsource Solutions',
 'dhiOmics Analytics Solutions',
 'Crediwatch',
 'Inspirisys Solutions Limited',
 'Saman Mohit',
 'KibbCom',
 'Proven Consult',
 'Fragma Data Systems',
 '360DigiTMG',
 'Litmus World',
 'GyanSys',
 'Boston Consulting Group',
 'NaviRisk Consulting',
 'GoodWorkLabs Services',
 'Tech Systems',
 'LendingKart',
 'BioXcel Corporation',
 'SellerApp',
 'K-Arogia Advisory Services',
 'Group IMD',
 'AAP',
 'Lumen',
 'Autodesk',
 'St. John’s Research Institute',
 'Sravathi Advance Process Technologies',
 'Shssns',
 'CSS Corporation',
 'Pegasystems',
 'Tata Elxsi',
 'Gainsight',
 'Credit Saison India',
 'Sourav Besra',
 'HDFC ERGO Health Insurance',
 'Voice Data Solutions',
 'AXA GO Business Operations',
 'CSC',
 'Ugam',
 'BigHaat',
 'SKF',
 'Rubixe',
 'Silicon Valley Bank',
 'NNT Corp.',
 'Congregation Brit Shalom',
 'Prometheus Group',
 'Aashish sharma',
 'Datalicious',
 'Quinbay',
 'Bajaj Finance',
 'VINAYA KUMAR',
 'Real Time Signals',
 'Zealeers Technologies',
 'Alliance Data',
 'Lava International',
 'Microland',
 'Piramal Enterprises',
 'Synopsys',
 'Kukun enterprise',
 'Sahaj Software Solutions',
 'AnalytixLabs',
 'SM NetServ Technologies',
 'Colt Technology Services',
 'Global Talent Pool',
 'R.S. Agarwal & Associates',
 'Digité',
 'HWI',
 'Corvi LED Light',
 'Naveen Engineering',
 'NCBS',
 'Coursera',
 'Rubicon Red',
 'Arjun Kappor',
 'Brisk Technologies',
 'Eat Local Eat Natural',
 'Nityo Infotech',
 'Analysts',
 'Attra',
 'Zopper',
 'myGate',
 'Jaitra',
 'SLK Group',
 'CAP FORCE',
 'Darashaw Consultants',
 'Tapzo',
 'Kapil IT Solutions',
 'LatentView Analytics',
 'Ocwen Financial',
 'K & K Technical Group',
 'Cornerstone OnDemand',
 'American Language Communication Center',
 'TerraBlue XT',
 'GetMyUni',
 'EMPLOYERS',
 'Pluto7',
 'shruti pateriya',
 'Infinite Computer Solutions',
 'TVM Infotech',
 'Crytonix Solutions',
 'Motorola Solutions',
 'TCS e-Serve International',
 'Admit.me',
 'Envestnet',
 'ExcelR',
 'REACH Technologies',
 'Enquero',
 'CrowdANALYTIX',
 'The Alacer Group',
 'The General',
 'Cerulean Information Technology',
 'Srijan Technologies',
 'Rajat Minerals',
 'Sanjay Ghodawat Group of Institutions',
 'TeamLease Staffing Solutions',
 'Jarvis Technology & Strategy Consulting',
 'TELiBrahma',
 'IDK',
 'HTC Global Services',
 'BizViz Technologies',
 'CAPA - Centre for Aviation',
 'CoffeeBeans Consulting',
 'Neewee',
 'Aegis',
 'RDA Labs',
 'iNurture Education Solutions',
 'Nagendran & Co',
 'Avian Acquisition',
 'NIT Jalandhar',
 'Indecomm Global Services',
 'Scalein',
 'Ritwik IT Services',
 'DBS Bank',
 'Wells Fargo',
 'Fiverr Inc.',
 'BuddhiMed Technologies',
 'Wizely',
 'Nestaway Technologies',
 'Mate Labs',
 'Artis signature',
 'Sprinklr',
 'Niama-Riesser',
 'Edyoo Technologies',
 'CareerNet Consulting',
 'OTO Capital',
 'OkCredit',
 'Rapido',
 'Ninestars Information Technologies',
 'Amar Singh Chawal Wala',
 'D2K Technologies India',
 'W.O. Insurance Brokers',
 'Indian Institute of Science',
 'Apra Labs',
 'Clairvolex',
 'EagleView',
 'Samsung India Electronics',
 'Syhg',
 'NIIT',
 'Navigare',
 'Insight Data Science',
 'Self',
 'Datalogic',
 'GlobalData',
 'KhataBook',
 'Meta',
 'Invendis Technologies India',
 'Johnson Controls',
 'Toyota North America',
 'Yotta Systems',
 'AIndra Labs',
 'Neha Bhakat',
 'IDC (International Data Corporation)',
 'Batlivala & Karani Securities',
 '& Other Stories',
 'Play Games24x7',
 'Sportz Village Schools',
 'Abhinav Immigration Services Pvt. Ltd.',
 'Tekion',
 'Dollar Loan Center',
 'Lincode',
 'Blah',
 'Musubi Management',
 'Searce',
 'CSIR-NGRI',
 'Schneider Electric',
 'Smarter BIZ Technologies',
 'INSUD PHARMA',
 'Routematic',
 'Multi Recruit',
 'kanth',
 'Simplify360',
 'ZestMoney',
 'Himani',
 'redBus India',
 'qplum',
 'Rajat Basak',
 'Kyndryl',
 'YGroup Companies',
 'Virtual Employee',
 'Suhana Shabnam',
 'Elasto Tech Industries',
 'Saksoft',
 'Neviton',
 'High Peak Software',
 'Fiscalia General de Justicia del Estado de Mexico',
 'Megha Engineering and Infrastructure',
 'Zebra Technologies',
 'na',
 'JoulestoWatts Business Solutions',
 'NoBroker',
 'Airbus',
 'Jupiter Money',
 'Unified Healthcare Group',
 'DataScientest',
 'Inceptua',
 'Kinara Capital',
 'Hudl',
 'Chemdiqas R & D',
 'Freelance',
 'Tricog Health Services',
 'Everyday Health Group',
 'Other',
 'Raja Software Labs',
 'Precifab Technologies',
 'RockYou',
 'JBT Corporation',
 'Nucsoft',
 'Dacasa Financeira',
 'Kaplan',
 'Speridian Technologies',
 'Evarcity',
 'Unemployed Professors',
 'down to up',
 'lnterplast',
 'Lucidity Consulting Group',
 'Furlenco',
 'MagicBricks',
 'Exdion',
 'Automation Engineering',
 'Government Engineering College',
 'Eigenlytics',
 'Sears',
 'AdWyze',
 'Apptio',
 'Accurence',
 'EXL Service',
 'i4u Labs',
 'Amara Raja',
 'IntelliPredikt Technologies',
 'iFuture Robotics',
 'pion.ai',
 'tabdbjsdo',
 'Blackhawk Network',
 'Allianz',
 'BT',
 'Infosys BPM',
 'Zolo',
 'HSBC Electronic Data Processing India',
 'Inventeron Technologies And Business Solutions',
 'qbeats',
 'Symphony RetailAI',
 'College Internship Program',
 'Goo-Goo Express Wash',
 'Careerera',
 'Novozymes',
 'neha gupta',
 'Sling Media',
 'Futureware Technologies',
 'Fortraiz Infosec',
 'Confidential',
 'Freelancer',
 'Maruti Suzuki',
 'Maharshi',
 'HSBC',
 'CommerceIQ',
 'Soroco',
 'StoneX',
 'Pluralsight',
 'Indian Statistical Institute',
 'Samsung Research America',
 'Sabre',
 'Im a fresher stop asking me',
 'Tesco Bengaluru',
 'Big Data Science Research',
 'Collabera',
 'Gear up',
 'Allegion',
 'M-SIX Technology',
 'Evalueserve',
 'Orbinet Technologies',
 'InnovatorsBay',
 'Epsilon',
 'Sravathi AI Technology',
 'Reliance Industries',
 'GrayMatter Software Services',
 'Elpis IT Solutions',
 'Prodotti Poliplastici',
 'Acies',
 'Silfra Technologies',
 'Safeducate Institute of Learning',
 'Unbxd',
 'Hotify',
 'HT Media',
 'Optimum Info Systems',
 'Shiv Nadar University',
 'Tata Health',
 'Okay.com',
 'Deccan Infosystems',
 'AXA',
 'HyperWorks Imaging',
 'DataWeave',
 'Patrick',
 'PlayShifu',
 'Exponentia DataLabs',
 'Artigiani Technologies',
 'Jindal Aluminium',
 'Netradyne',
 'Credit Suisse',
 'Commonwealth Bank of Australia',
 'Cepheid',
 'Talent Zone Consultants',
 'Starcom Information Technology',
 'Pexitics',
 'Not Applicable',
 'Equinor',
 'Datascribe Technologies',
 'Evive',
 'Akaike Technologies',
 'Tenzai',
 'Grab',
 'Pratilipi',
 'PK',
 'Shashank Medi Pharma',
 'Skandiabanken',
 'Rashi Information Services',
 'NielsenIQ',
 'Practo Technologies',
 'Analytics India Magazine',
 'Couture AI',
 'Litifer',
 'vitrana',
 'o9 Solutions',
 'L Brands',
 'Nuartin Labs',
 'Freshworks',
 'Gradatim',
 'Latitude Fintech',
 'D&B Technologies',
 'LTI',
 'BankBazaar',
 'GCC services',
 'Dayananda Sagar College of Engineering',
 'IceCream Labs',
 'First American Financial Corporation',
 'Pivosys Technologies',
 'Vmoksha Technologies',
 'AMCORE Financial',
 'HiLabs',
 'Fiserv',
 'Swetapadma Das',
 'Cognizant',
 'Darshan Soft-Tech',
 'Ziafa Technologies',
 'Webi7',
 'Prakshep',
 'IIT Madras',
 'Deutsche Bank',
 'Giftiicon',
 'Synechron',
 'Postman',
 'Zoomcar',
 'AmberTAG Analytics',
 'Tempworks Services',
 'ABC Tech',
 'VIT Infotech',
 'Allstate India',
 'Integra Micro Software Services (P)',
 'MoneyTap',
 'Siemens Healthineers',
 'Almug',
 'Refinitiv',
 'Ragle',
 'eTeam',
 'Skit',
 'Vois (India)',
 'Cyient',
 'Saankhya Labs',
 'Losch Engineering',
 'CAET Project Management Consultants',
 'AMPROVIT TECHNOLOGIES',
 'Centelon',
 'BCA',
 'Danske Bank',
 'Lam Research',
 'Kiwi labs',
 'BidMath',
 'Kashish Corporation',
 'IITS',
 'Professional Data Analysts',
 'CognitiveWorks',
 'Metteyya Analytics',
 'Innominds Software',
 'Signify',
 'XYZ (Turkey)',
 'Trident Information Systems',
 'Arvind Internet',
 'Sunrise Senior Living',
 'VJTI',
 'VE Commercial Vehicles',
 'Dozee',
 'Levi Strauss',
 'AscentHR Services',
 'OnlyGroup Healthcare',
 'Snap',
 'DataScience.com',
 'WNS',
 'Schlumberger',
 'Atos-Syntel',
 'Forec Software Solutions',
 'Innoplexus',
 'AlgoAnalytics Financial Consultancy',
 'Wolters Kluwer',
 'Zensar Technologies',
 'SG Analytics',
 'ThinkBumblebee Analytics',
 'Michelin',
 'Merkle',
 'Vodafone',
 'Eaton',
 'T-Systems',
 'Coupa Software Inc',
 'Aera Technology',
 'Amdocs',
 'Barclays',
 'KPIT Technologies',
 'Saama Technologies',
 'Exela Technologies',
 'Abzooba',
 'Linsyssoft Technologies',
 'ADP',
 'Birlasoft',
 'John Deere',
 'Xoriant',
 'GS Lab',
 'Globant',
 'e-Zest Solutions',
 'Datametica',
 'Vyom Labs',
 'Vishwakarma Institute of Technology',
 'Knorex',
 'CanWill Technologies',
 'ThinkBridge',
 'Coditation Systems',
 'MindBowser Info Solutions',
 'Climate Connect',
 'Tech9',
 'Eagle TK Infotech',
 'Fusion Practices',
 'Xeco',
 'DeepTek Medical Imaging',
 'vElement',
 'Asquared IoT',
 'HiLabs (MD)',
 'Jash Data Sciences',
 'Larsen & Toubro',
 'Concentrix',
 'Persistent Systems',
 'Kotak Mahindra',
 'eClerx',
 'BNY Mellon',
 'Zomato',
 'TietoEVRY',
 'Yash Technologies',
 'CitiusTech',
 'Unacademy',
 'UBS',
 'Netcracker Technology',
 'Cummins',
 'Capgemini Invent',
 'Siemens Digital Industries Software',
 'Dassault Systemes',
 'MetLife',
 'STL - Sterlite Technologies Limited',
 'Visteon',
 'PhonePe',
 'C-DAC',
 'Nothing Something',
 'NICE',
 'Sokrati',
 'Pitney Bowes',
 'FirstCry com',
 'Maxgen Technologies',
 'Internshala',
 'Micron Technology',
 'BlueConch Technologies',
 'FIGmd',
 'Volkswagen',
 'TomTom',
 'FreshersLive',
 'Dream11',
 'Sandvik',
 'SS Supply Chain Solutions',
 'Cognizant Softvision',
 'University of Pune',
 'Goodwill',
 'IVL Global',
 'Verificient Technologies',
 'Clairvoyant',
 'The Fresh Market',
 'Tata Research Development and Design Centre',
 'Medline Industries',
 'Amphisoft Technologies',
 'Pratham',
 'Evolent Health',
 'Presidency University (Bangalore)',
 'Smartek21',
 'Google Cloud',
 'ABC do ABC',
 'Bajaj Finserv Health',
 'PharmaACE',
 'advids.co',
 'Xcaliber Infotech',
 'MIT World Peace University',
 'vPhrase',
 'AAKASH',
 'Ascentrik Research Services',
 'EarlySalary.com',
 'Motifworks',
 'Helpshift',
 'ROHIT KUMAR MODI',
 'Globex Digital Solutions',
 'Viajes',
 'OnlineSales.ai',
 'Comscore',
 'Ellicium Solutions Private Limited',
 'RAKESH GROUP',
 'Yagna iQ',
 'Tops Office Pros Business Services',
 'Apptware',
 ...]

In [34]:
maas.shape

(4344, 6)